<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Download PDF</title>
</head>
<body>
    <header>
        Download do PDF
    </header>
    <div class="container">
        <h2>Seu PDF foi gerado com sucesso!</h2>
        <a href="/download_pdf" class="button">Baixar PDF</a>
        <a href="/reset" class="button">Voltar ao inicio</a>
    </div>
</body>
</html>
